#link{
    font-size: 25px;
}
#joker{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
#b{
    font-size: 25px;
    color: black;
    font-weight: 40px;
}   
#e{
    cursor: default;
}
body{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#p{
    font-size: 25px;
    cursor: default;
}
#t{
    font-size: 30px;
    cursor: default;
}
#button{
    color: black;
    font-size: 25px;
}
#i{
    border-radius: 20px;
}